* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.grid-container {
  /* transformando em grid */
  /* display: grid; */

  /* declarar quantidade de colunas */
  /* grid-template-columns: 100px 100px; */

  /* usando o repeat para fazer a mesma coisa */
  /* grid-template-columns: repeat(2, 100px); */

  /* Alterando para 4 colunas */
  /* grid-template-columns: repeat(4, 20%); */

  
  /* utilidade de medida ifracionala
   aqui vai (fracionar) em duas partes iguais */
  /* grid-template-columns: repeat(5, 1fr); */

    
  /* colocando regra de tamanho min e max */
  /* tamanho min de 150 e tamanho maximo de uma fraçao */
   /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));  */

   /* usando o auto-fit */
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */

}

